/*
	COLORES
	GRIS CLARO				rgb(242,242,242)
	VERDE OSCURO			rgb(31,139,0)
	VERDE CLARO				rgb(90,177,20)
	NARANJA					rgb(244,141,40)
*/

@font-face{
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Medium.ttf");
}

@font-face{
	font-family: 'Megan June';
	src: url("../fonts/Megan June.otf");
}

*{
	font-family: "Roboto" !important;
}

.fa{
	font-family: "FontAwesome" !important;
}

.splash{
	background-image: url(../img/ebetrackinggif.gif);
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999;
	top: 0px;
}

.splash img{
	width: 60%;
	position: absolute;
	top: 40%;
	left: 20%;
}

.mid-transp{
	background-color: rgba( 255, 255, 255, .5 );
}

.ui-popup-screen.in {
	background-color: black;
}

.ui-popup {
	background-color: white;
}

.ui-popup.ui-body-inherit {
	background-color: rgb(90,177,20);
	text-align: center;
}

.ui-header{
    background-color: rgb(31,139,0);
}

.ui-footer{
	background-color: rgb(244,141,40);
}

.ui-header:empty, .ui-footer:empty, .ui-header, .ui-footer{
	min-height: 3em;
	border: none;
}

.img-responsive{
	width: 100%;
}

.contenido-centrado{
	text-align: center;
}

.pt20{
	padding-top: 20%;
}

.pt15p{
	padding-top: 15px;
}

.pt25p{
	padding-top: 25px;
}

.logo{
	width: 70%;
}

.boton-verde {
	background-color: rgb(90,177,20);
	color: white;
	border: none;
	width: 250px;
	font-size: 1.3em;
}

.boton-verde:focus, .boton-verde:active {
	background-color: rgb(50,137,0);
}

.ui-btn-corner-all, 
.ui-btn.ui-corner-all, 
.ui-slider-track.ui-corner-all, 
.ui-flipswitch.ui-corner-all, 
.ui-li-count {
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
}

.ui-content{
	min-height: 100%;
	background: white;
}

#login > .ui-content {
	margin-top: 2em;
}

.pngs{
	background-color: white;
}

.ui-header .pngs{
	margin-top: 3em;
	position: absolute;
}

.sin_mt{
	margin-top: 0px !important;
}

.con_mt{
	margin-top: 3em;
}

.al50{
	width: 50%;
}

.login-box{
	padding: 0% 10%;
}

 .login-box .ui-input-text input,
 .login-box .ui-input-search input {
 	text-transform: uppercase;
	text-align: center;
 }

.login-box .ui-input-text input[type=password]{
	text-transform: none;
}

 .login-box .ui-input-text ,
 .login-box .ui-input-search {
 	border-radius: 30px;
 }

.login-box .ui-input-text input::placeholder, 
.login-box .ui-input-search input::placeholder,
 .login-box textarea.ui-input-text::placeholder {
	color: rgb(134,134,134);
	text-align: center;
}

.ui-input-text, .ui-input-search {
	border-color: transparent;
	background-color: rgb(235,235,235);
}

.ui-shadow-inset{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.img-menu-inf{
	width: 65%;
	padding: 10px;
}

.fa-menu-inf{
	padding: 15px;
	color: white;
}

.menu-footer{
	border-radius: 25px 25px 0px 0px;
}

.menu-footer .col-xs-4{
	border-left: 1px solid white;
}

.titulo-blanco{
	color: white;
	text-shadow: none;
	margin: .5em;
}

.text-center{
	text-align: center;
}

/*input[name=tx_adjunto]{
	opacity: 0;	
}*/

.label-extra.tx_adjunto-2{
	top: -85px;
}

.label-extra.nu_lat_lng-2{
	top: -45px;
}

.ui-field-contain{
	border: none;
	margin: .5em 0;
	padding: 0;
}

.color-black{
	color: black;
}

.ui-listview{
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgb(242,242,242);
}

.ui-listview-inset > .ui-li-static,
 .ui-listview-inset > .ui-li-divider,
  .ui-listview-inset > li > a.ui-btn,
  .ui-listview > li > a.ui-btn  {
  	border: none;
  	color: black;
  	font-size: .7em;
}

  .ui-listview > li > a.ui-btn.lista-centrado {
  	text-align: center;
  }

  .ui-listview > li > a.ui-btn.lista-justificado {
  	text-align: justify;
  	padding-right: 3.5em;
  }

.ui-btn-icon-right::after {
	background-color: rgb(244,141,40);
}

.bitacora li:nth-child(2n){
	background-color: white;
}

.bitacora .ui-btn{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

input[type=date]{
	padding-left: 20px;	
}

#reportes input, #rep_asis input, #rep_asis input{
	background-color: white;
	border-bottom: 3px solid rgb(242,242,242);
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.calendario{
	color: rgb(244,141,40);
	text-align: left;
	position: relative;
	top: -40px;
	font-size: 20px;
	max-height: 0px;
}

.ui-select>.ui-btn.ui-corner-all{
	border-color: transparent;
	background-color: rgb(235,235,235);
	border-radius: .3125em;
	box-shadow: none;
}

.ui-select span{
	text-align: left;
	font-weight: normal;
	color: #aaa;
}

.negrita{
	font-weight: bold;
}

.notepases{
	max-width: 50%;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.libros thead, .usuarios thead{
	background-color: rgb(244,141,40);
	text-align: center;
}

.libros tbody, .usuarios tbody{
	background-color: rgb(242,242,242);
}

.libros table, .usuarios table{
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
}

.libros td, .usuarios td{
	padding: 5px;
}

.tabla{
	height: 300px;
	overflow-y: scroll;
}

.mb-20p{
	margin-bottom: 20px;
}

.lista-desc{
	white-space: normal;
	text-align: justify;
}

.caja-lista{
	height: 300px;
	display: inline-block;
	margin: -1em;
	overflow-y: scroll;
	width: 110%;
}

.input-agrupado{
	position: relative;
	display: table;
	border-collapse: separate;
	margin: .5em 0;
}

.input-agrupado span{
	padding: 6px 12px;
	display: table-cell;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	border-color: transparent;
	background-color: rgb(235,235,235);
	border-top-left-radius: .3125em;
	border-bottom-left-radius: .3125em;
}

.input-agrupado .ui-input-text{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border: none;
}

.agrup-tipo-2 span{
	border-top-right-radius: .3125em;
	border-bottom-right-radius: .3125em;	
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.agrup-tipo-2 .ui-input-text{
	border-top-left-radius: .3125em;
	border-bottom-left-radius: .3125em;	
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.buscador-link{
	cursor: pointer;
}

.input-agrupado label[for=tx_adjunto], label[for=url_img_firma] {
	background-color: rgb(235,235,235);
	color: #ccc;
	padding: 6px 5px;
	text-align: left;
	margin: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.caja{
	position: relative;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.5);
	background-image: url(../img/ebetrackinggif.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
	align-items: center;
    display: grid;
}

label{
	border-radius: .3125em;
}

.tabla-vis td,
.tabla-asis td,
.tabla-usr td,
.tabla-lib-asi td,
.tabla-lib-vis td,
.tabla-lib-ebe td{
	white-space: nowrap;
}

.w50p{
	width: 50%;
}

.mapa-fijo{
	border-radius: .3125em;
	border: 1px solid #ccc;
}

canvas{
	background-color: rgb(235,235,235);
	border-radius: .3125em;
	border: 1px solid #ccc;

}

#inicioAdmin .img-responsive,
#inicioSuper .img-responsive,
#emp_inicio .img-responsive{
	width: 110%;
	margin: 10px -5px;
}

.ui-listview.sucursales, .ui-listview.empresas{
	margin: .5em;
}

.ui-listview.sucursales li:nth-child(2n), .ui-listview.empresas li:nth-child(2n){
	background-color: white;
}

.ui-listview.sucursales > li > a.ui-btn, .ui-listview.empresas > li > a.ui-btn{
	font-size: .9em;
}

.icono-accion{
	width: 40px;
	font-size: 25px;
	float: right;
	text-align: center;
	margin-top: -5px;
	margin-bottom: -5px;
}

.color-verde{
	color: rgb(31,139,0);
}

.color-naranja{
	color: rgb(244,141,40);
}

.color-rojo{
	color: red;
}

.color-azul{
	color: rgb(61,123,199);
}

.icono-accion-tabla{
	width: 40px;
	font-size: 25px;
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-justify{
	text-align: justify;
}

.campos-reducidos .box{
	margin-top: -5px;
	margin-bottom: -5px;
}

