/*

	COLORES
	GRIS CLARO
		rgb(242,242,242)
	VERDE OSCURO	
		rgb(31,139,0)

	VERDE CLARO
		rgb(90,177,20)

	NARANJA
		rgb(244,141,40)


*/

@font-face{
	font-family: 'Ubuntu Regular';
	src: url("../fonts/Roboto-Medium.ttf");
}

*{
	font-family: "Ubuntu Regular" !important;
}

.fa{
	font-family: "FontAwesome" !important;
}

.splash{
	background-image: url(../img/ebetrackinggif.gif);
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 9999;
	top: 0px;
}

.splash img{
	width: 60%;
	position: absolute;
	top: 40%;
	left: 20%;
}

.ui-header{
    background-color: rgb(31,139,0);
}

.ui-footer{
	background-color: rgb(244,141,40);
}

.ui-header:empty, .ui-footer:empty, .ui-header, .ui-footer{
	min-height: 3em;
	border: none;
}

.ui-content{
	background: white;
}

.img-responsive{
	width: 100%;
}

.contenido-centrado{
	text-align: center;
	padding-top: 20%;
}

.logo{
	width: 70%;
}

.boton-verde {
	background-color: rgb(90,177,20);
	color: white;
	border: none;
	width: 250px;
	font-size: 1.3em;
}

.boton-verde:focus {
	background-color: rgb(50,137,0);
}

.ui-btn-corner-all, 
.ui-btn.ui-corner-all, 
.ui-slider-track.ui-corner-all, 
.ui-flipswitch.ui-corner-all, 
.ui-li-count {
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
}

.ui-content{
	min-height: 100%;
}

#login > .ui-content {
	margin-top: 2em;
}

.pngs{
	background-color: white;
}

.ui-header .pngs{
	margin-top: 3em;
	position: absolute;
}

.ui-footer .pngs{
	margin-bottom: 3em;
}

.sin_mt{
	margin-top: 0px !important;
}

.con_mt{
	margin-top: 3em;
}

.al50{
	width: 50%;
}

.login-box{
	padding: 0% 10%;
}

.login-box .ui-input-text input,
 .login-box .ui-input-search input {
 	text-align: center;
	text-transform: uppercase;
 }

 .login-box .ui-input-text ,
 .login-box .ui-input-search {
 	border-radius: 30px;
 }

.login-box .ui-input-text input::placeholder, 
.login-box .ui-input-search input::placeholder,
 .login-box textarea.ui-input-text::placeholder {
	color: rgb(134,134,134);
	text-align: center;
}

.ui-input-text, .ui-input-search {
	border-color: transparent;
	background-color: rgb(235,235,235);
}

.ui-shadow-inset{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.img-menu-inf{
	width: 65%;
	padding: 10px;
}

.fa-menu-inf{
	padding: 15px;
	color: white;
}

.menu-footer{
	border-radius: 25px 25px 0px 0px;
}

.menu-footer .col-xs-4{
	border-left: 1px solid white;
}

.titulo-blanco{
	color: white;
	text-shadow: none;
}

.text-center{
	text-align: center;
}

input[name=tx_adjunto]{
	opacity: 0;	
	max-height: 37.2px;
}

.label-extra{
	position: relative;
	height: 0px;
	text-align: left;
	padding-left: 8px;
	color: rgb(200,200,200);
}

.label-extra.tx_adjunto{
	top: -130px;
}

.label-extra.nu_lat_lng{
	top: -90px;
}

.label-extra.tx_adjunto-2{
	top: -85px;
}

.label-extra.nu_lat_lng-2{
	top: -45px;
}

.ui-page .ui-footer-fixed.ui-fixed-hidden {
    position: fixed;
}

.ui-field-contain{
	border: none;
	margin: .5em 0;
	padding: 0;
}

.color-black{
	color: black;
}

.ui-listview{
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgb(242,242,242);
}

.ui-listview-inset > .ui-li-static,
 .ui-listview-inset > .ui-li-divider,
  .ui-listview-inset > li > a.ui-btn,
  .ui-listview > li > a.ui-btn  {
  	border: none;
  	color: black;
  	font-size: .7em;
}

.ui-btn-icon-right::after {
	background-color: rgb(244,141,40);
}

.bitacora li:nth-child(2n){
	background-color: white;
}

.bitacora.ui-listview > li {
	padding-top: 10px;
	padding-bottom: 10px;
}

input[type=date]{
	background-color: white;
	border-bottom: 3px solid rgb(242,242,242);
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	padding-left: 20px;	
}

.calendario{
	color: rgb(244,141,40);
	text-align: left;
	position: relative;
	top: -40px;
	font-size: 20px;
	max-height: 0px;
}